<div class="banner">
  <div class="container">
    <h1>Welcome to  <strong>Cocktail Paradize!!!</strong></h1>
    <p>Share your cocktail creation to the world and open your taste to new explosive flavors.</p>
    <%= link_to 'Create a new cocktail', new_cocktail_path, class: "btn btn-primary"%>
  </div>
</div>
